<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Admin</title>
    <link rel="stylesheet" href="css/admin.css">
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <header
      class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
      role="banner"
    >
      <div class="container">
        <div class="navbar-header">
          <button
            class="navbar-toggle"
            type="button"
            data-toggle="collapse"
            data-target=".bs-navbar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="./" class="navbar-brand">Voting System</a>
        </div>
        <nav
          class="collapse navbar-collapse bs-navbar-collapse"
          role="navigation"
        >
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/rollback">Rollback</a>
            </li>
            <li>
              <a href="/clear">Repoll</a>
            </li>
            <li class="active">
              <a href="/">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
      <h1 id="wel">Admin Page</h1>
      <p id="msg"><%= adminmsg %></p>
      <br><br><br><br>
      <div class="alltable"  >
        <table id="list1" class="table  table-responsive-stack"   >
          <thead class="thead-dark">
            <tr>
               <th>Name</th>
               <th>Vote</th>
               <th>Time </th>
            </tr>
         </thead>
         <tbody>
          <% for(var i=1; i<contacts.length; i++)
          {%>
              <tr >
                <td><%= contacts[i].data %></td>
                <td><%= contacts[i].index %></td>
                <td><%= contacts[i].timestamp%></td>
                <br>
              </tr>
          <% } %>
        </tbody>
      </table>
      <table id="list2" >
        <thead class="thead-dark">
          <tr>
             <th>Name</th>
             <th>Votes</th>
          </tr>
       </thead>
       <tbody>
        <% for(var i=0; i<contacts1.length; i=i+2) {%>
            <tr>
            <td><%= contacts1[i] %></td>
            <td><%= contacts1[i+1] %></td>
            </tr>
        <% } %>
      </tbody>
      </table>
    </div>
  </body>
</html>